<h1><%= @pokemon.name %> <small><%= @pokemon.basename %></small></h1>

<p>
  <%= [@pokemon.type1, @pokemon.type2].compact.each_with_index.map { |type, index| "Type#{index+1}: #{type}" }.join(" / ") %>
</p>
